body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		flex: 1 0 20%;
		margin: .5em;
		border: 1px #ccc solid;
		padding: 0.5em;
		box-sizing: border-box;

		img {
		display: block;
		width: 100%;

		}

		h1 {
			font-weight: 700;
			margin-bottom: 1em;
			font-size: 1em;
			text-transform: uppercase;
		}

		a {
			color: #545259;
			font-weight: 300;
			position: relative;
			text-decoration: none;
			margin: 1em;
			display: block;

			&:before {
				content: '-';
				position: absolute;
				left: -10px;
			}
		}
	}
}

@media only screen and (min-width : 55em) {
	.projects {
		li {
			flex: 1 0 15%;
		}
	}
}

.banner {
	height: 20em;
}

// Swiper Styles


.swiper-container {

	width: 100%;
	height: 100%;
}

.swiper-slide {

	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}

//Pagionation Bullets

.swiper-pagination-bullet {

	width: 10px;
	height: 10px;
	background: rgba(0,0,0,0.5);

 }
.swiper-pagination-bullet-active {

	color:#fff;
	background: #000;

}


.slide-image {
	background-position: center;
	background-size: cover;

	span {
		font-size: 2em;
		color: #fff;
		font-weight: 700;
		text-shadow: 0 0 5px rgba(0,0,0,0.7);
		text-transform: uppercase;
		background-color: rgba(0,0,0,0.5);
		padding: .5em;
	}
}

.swiper-inner {
	margin: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	span {
		flex: 1 0 90%;
	}

	a {
		text-decoration: none;
		width: 10em;
		color: #000;
		text-transform: uppercase;
		padding: 1em;
		font-weight: 700;
		background-color: rgba(255,255,255,.9);
		border-radius: 5px;
		margin-top: 1em;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
}

.container {
	padding: 1em;

	img {
		width: 100%;
		display: block;
	}
}


//Stats

.stats {
	margin: 1em;
	text-align: center;

	&-info-row {
		margin-bottom: .5em;
	}
}

@media only screen and (min-width : 55em) {
	.stats {
		display: flex;
		flex-wrap: wrap;


		&-heading {
			flex: 1 0 90%;
		}

		&-info {
			flex: 1 0 90%;
			display: flex;
			justify-content: center;

			&-row {
				flex: 0 0 25%;
			}
		}
	}
}

@media only screen and (min-width : 55em) {
	.stats {
		margin: 2em;

		&-heading {
			margin-bottom: 2em;
			span {
				font-size: 2em;
			}
		}

		&-info-row {
			span {
				font-size: 1em;
			}
		}
	}
}

.the-end {
	text-align: center;
	margin: 2em;
	span {
		color: #878491;
	}
}

.header {
	margin: .5em 0;

	a {
		color: #000;
		text-decoration: none;
		display: block;
		text-transform: uppercase;

		i {
			margin-right: .25em;
		}
	}
}

.project-content {
	.project-content-heading {
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 1.25em;
	}
}

.comments-heading {
	font-weight: 700;
	font-size: 1.25em;
}

.comment {
	font-weight: 300;
	margin-bottom: .5em;

	&:before {
		content: '- '
	}

	.user-first {
		font-weight: 400;
		margin-left: 1em;

		&:before {
			content: '- ';
		}
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;

	&-item {
		flex: 1 0 45%;
		// margin: .5em 0;

		margin:0.5em;

		&:nth-child(odd) {
			margin-left: 0;
		}

		&:nth-child(even) {
			margin-right: 0;
		}
	}
}

.project-image {
	margin-bottom: .5em;
}


@media only screen and (min-width : 55em){
	.container {
		display: flex;
		flex-wrap: wrap;

		.project-content {
			flex: 1 0 45%;
			padding: 1em;
		}

		.project-image {
			flex: 1 0 45%;
			padding: 1em;
		}

		.comments {
			flex: 1 0 90%;
		}

		.header {
			flex: 1 0 90%;
		}
	}

	.gallery-item {
		flex: 1 0 20%;
		margin: .5em;

		&:nth-child(odd) {
			margin-left: .5em;
		}

		&:nth-child(even) {
			margin-right: .5em;
		}
	}
}

@media only screen and (min-width : 65em){
	.container {
		max-width: 70em;
		margin: auto;
	}
}